body {
  overflow: hidden;
  .container {
    .bg-video {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
    }
    .blur {
      filter: blur(15px);
      transition: all 1s;
    }
  }
}
