body {
  overflow: hidden;
  .container {
    .bg-video {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      z-index: -1;
    }
    .blur {
      filter: blur(15px);
      transition: all 1s;
    }
  }
}
@media screen and(max-width:992px) {
  * {
    text-align: center;
  }
  #root {
    position: relative;
    width: 100vw;
    overflow: hidden;
  }
  .bg-video {
    width: unset !important;
    height: 100vh;
  }
}
